---
---

@import "hamilton/main";

// 去掉导航菜单选中状态的下划线
.site-nav .trigger li a.current-page {
  border-bottom: none !important;
  text-decoration: none !important;
}
/* 修复Logo显示不全 */
.sidebar-about .logo img {
  max-width: 90% !important;
  height: auto !important;
  object-fit: contain !important;
  display: block !important;
  margin: 0 auto !important;
}
